@media (max-width: 991.98px) {
    .navbar-collapse .btn-logout {
        width: 100%;
    }
    .navbar-collapse .logout-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

body{
    margin-top: 65px;
}
